body {
  background-color: black;
}
.modal-wrapper >div {
  justify-content: space-around;
  align-items: flex-end;
}
.modal{
  width: 70%;
  margin: 70px auto;
  padding: 30px;
  background: #ffc878;
  border-radius: 30px;
  flex-direction: column;
}
.modal-info {
  flex-direction: column;
  align-items: center;
}
.modal >div> img {
  width: 35%;
}
.modal-choose-type {
  margin: 20px 0;
}
.modal-choose-type > div {
  width: 20%;
  margin: 10px;
}
.modal-choose-type > div > div {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  display: flex;
  justify-content: center;
}
.modal-choose-type img {
  width: 100%;
  border-radius: 18px;
}
.modal-choose-type p {
  font-size: 16px;
  line-height: 15px;
  color: #000000;
  padding-top: 10px;
}
.modal-btn{
  background: #fb7135;
  width: 200px;
  height: 50px;
  padding: 14px 10px;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.add-type-text {
  font-weight: 600;
}
.pizza-block__title {
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 1%;
  margin-bottom: 20px;
}
.pizza-block__selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  flex-direction: column;
  padding: 6px;
}
.pizza-block__selector ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1;
  list-style: none;
}
.pizza-block__selector ul:first-of-type {
  margin-bottom: 6px;
}
.pizza-block__selector ul li {
  padding: 8px;
  flex: 1;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  user-select: none;
}
.pizza-block__selector ul li.active {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}
