.about {
  background-image: url('./image/ourMenu-bg.png');
}
.categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.categories ul li {
  background-color: #f9f9f9;
  padding: 13px 30px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  user-select: none;
}
.categories ul li:hover {
  background-color: #f4f4f4;
}
.categories ul li:active {
  background-color: #ececec;
}
.categories ul li.active {
  background-color: #282828;
  color: #fff;
}
.sort {
  position: relative;
}
.sort__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.sort__label svg {
  margin-right: 8px;
}
.sort__label b {
  margin-right: 8px;
}
.sort__label span {
  color: #673ab7;
  border-bottom: 1px dashed #673ab7;
  cursor: pointer;
}
.sort__popup {
  position: absolute;
  right: 0;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
}
.sort__popup ul {
  overflow: hidden;
}
.sort__popup ul li {
  padding: 12px 20px;
  cursor: pointer;
}
.sort__popup ul li.active,
.sort__popup ul li:hover {
  background: rgba(254, 95, 30, 0.05);
}
.sort__popup ul li.active {
  font-weight: bold;
  color: #673ab7;
}
.search-block {
 padding-top: 80px;
}
.search-block > div {
  flex-wrap: wrap;
}
.search-block > div > div {
  margin-bottom: 30px;
}
.search-block .search {
  width: 282px;
  height: 41px;
  background: #f9f9f9;
  border-radius: 30px;
  justify-content: space-around;
}
.search-block .search input {
  border: none;
  outline: none;
  background-color: #f9f9f9;
  font-weight: 700;
  font-size: 16px;
  color: #b8b8bd;
}
.pagination{
  margin-top: 40px;
}
.pagination a{
  padding: 10px 15px;
  text-decoration: none;
}